<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class ="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc />
                <pattern>
                    <pattern>
                        {
                        "timestamp": "%date{\"yyy-MM-d-'T'HH:mm:ss,SSSXXX\", UTC}",
                        "level": "%level",
                        "logger": "%logger",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
                <logstashMarkers/>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>20</shortenedClassNameLength>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
    </root>

    <!-- Suppress warnings from AnnotationTypeMapping -->
    <logger name="org.springframework.core.annotation.AnnotationTypeMapping" level="ERROR"/>
    <!-- Suppress axoniq add-->
    <logger name="org.axonframework.config.AxonIQConsoleModule" level="ERROR"/>
</configuration>